#body-form1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    background-color: aquamarine;
}

.paragraphs {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 1em;
    border: 1px;
    border-style: dotted;
    border-color: grey;
    padding: 30px;
    margin: 50px;
}

.imagesLeft{
    float: left;
    margin: 5px;
}

.imagesRight{
    float: right;
    margin: .05px;
}

.puppyWHipCreme
{
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 25%;
}

.catvdog
{
  position: relative;
    left: 470px;
}

.memeHeader1 {
  border-style: solid;
  font size: 800px;
     border-color: red;
}
